/** TIPS -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

	* color
	* background

	* whidth
	* height
	* margin
	* padding

	* font-family
	* font-size
	* text-align
	* text-transform
	* letter-spacing

	* display
	* flex-direction
	* justify-content
	* align-items

	* position
	* top bottom left right
	* z-index
	* opacity

	* transition

-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

/* GLOBAL ---------------------------------------*/
	body {
		background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' %3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%23111111'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='300' height='250' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.05'%3E%3Cpolygon fill='%23444' points='90%2C150 0%2C300 180%2C300'/%3E%3Cpolygon points='90%2C150 180%2C0 0%2C0'/%3E%3Cpolygon fill='%23AAA' points='270%2C150 360%2C0 180%2C0'/%3E%3Cpolygon fill='%23DDD' points='450%2C150 360%2C300 540%2C300'/%3E%3Cpolygon fill='%23999' points='450%2C150 540%2C0 360%2C0'/%3E%3Cpolygon points='630%2C150 540%2C300 720%2C300'/%3E%3Cpolygon fill='%23DDD' points='630%2C150 720%2C0 540%2C0'/%3E%3Cpolygon fill='%23444' points='810%2C150 720%2C300 900%2C300'/%3E%3Cpolygon fill='%23FFF' points='810%2C150 900%2C0 720%2C0'/%3E%3Cpolygon fill='%23DDD' points='990%2C150 900%2C300 1080%2C300'/%3E%3Cpolygon fill='%23444' points='990%2C150 1080%2C0 900%2C0'/%3E%3Cpolygon fill='%23DDD' points='90%2C450 0%2C600 180%2C600'/%3E%3Cpolygon points='90%2C450 180%2C300 0%2C300'/%3E%3Cpolygon fill='%23666' points='270%2C450 180%2C600 360%2C600'/%3E%3Cpolygon fill='%23AAA' points='270%2C450 360%2C300 180%2C300'/%3E%3Cpolygon fill='%23DDD' points='450%2C450 360%2C600 540%2C600'/%3E%3Cpolygon fill='%23999' points='450%2C450 540%2C300 360%2C300'/%3E%3Cpolygon fill='%23999' points='630%2C450 540%2C600 720%2C600'/%3E%3Cpolygon fill='%23FFF' points='630%2C450 720%2C300 540%2C300'/%3E%3Cpolygon points='810%2C450 720%2C600 900%2C600'/%3E%3Cpolygon fill='%23DDD' points='810%2C450 900%2C300 720%2C300'/%3E%3Cpolygon fill='%23AAA' points='990%2C450 900%2C600 1080%2C600'/%3E%3Cpolygon fill='%23444' points='990%2C450 1080%2C300 900%2C300'/%3E%3Cpolygon fill='%23222' points='90%2C750 0%2C900 180%2C900'/%3E%3Cpolygon points='270%2C750 180%2C900 360%2C900'/%3E%3Cpolygon fill='%23DDD' points='270%2C750 360%2C600 180%2C600'/%3E%3Cpolygon points='450%2C750 540%2C600 360%2C600'/%3E%3Cpolygon points='630%2C750 540%2C900 720%2C900'/%3E%3Cpolygon fill='%23444' points='630%2C750 720%2C600 540%2C600'/%3E%3Cpolygon fill='%23AAA' points='810%2C750 720%2C900 900%2C900'/%3E%3Cpolygon fill='%23666' points='810%2C750 900%2C600 720%2C600'/%3E%3Cpolygon fill='%23999' points='990%2C750 900%2C900 1080%2C900'/%3E%3Cpolygon fill='%23999' points='180%2C0 90%2C150 270%2C150'/%3E%3Cpolygon fill='%23444' points='360%2C0 270%2C150 450%2C150'/%3E%3Cpolygon fill='%23FFF' points='540%2C0 450%2C150 630%2C150'/%3E%3Cpolygon points='900%2C0 810%2C150 990%2C150'/%3E%3Cpolygon fill='%23222' points='0%2C300 -90%2C450 90%2C450'/%3E%3Cpolygon fill='%23FFF' points='0%2C300 90%2C150 -90%2C150'/%3E%3Cpolygon fill='%23FFF' points='180%2C300 90%2C450 270%2C450'/%3E%3Cpolygon fill='%23666' points='180%2C300 270%2C150 90%2C150'/%3E%3Cpolygon fill='%23222' points='360%2C300 270%2C450 450%2C450'/%3E%3Cpolygon fill='%23FFF' points='360%2C300 450%2C150 270%2C150'/%3E%3Cpolygon fill='%23444' points='540%2C300 450%2C450 630%2C450'/%3E%3Cpolygon fill='%23222' points='540%2C300 630%2C150 450%2C150'/%3E%3Cpolygon fill='%23AAA' points='720%2C300 630%2C450 810%2C450'/%3E%3Cpolygon fill='%23666' points='720%2C300 810%2C150 630%2C150'/%3E%3Cpolygon fill='%23FFF' points='900%2C300 810%2C450 990%2C450'/%3E%3Cpolygon fill='%23999' points='900%2C300 990%2C150 810%2C150'/%3E%3Cpolygon points='0%2C600 -90%2C750 90%2C750'/%3E%3Cpolygon fill='%23666' points='0%2C600 90%2C450 -90%2C450'/%3E%3Cpolygon fill='%23AAA' points='180%2C600 90%2C750 270%2C750'/%3E%3Cpolygon fill='%23444' points='180%2C600 270%2C450 90%2C450'/%3E%3Cpolygon fill='%23444' points='360%2C600 270%2C750 450%2C750'/%3E%3Cpolygon fill='%23999' points='360%2C600 450%2C450 270%2C450'/%3E%3Cpolygon fill='%23666' points='540%2C600 630%2C450 450%2C450'/%3E%3Cpolygon fill='%23222' points='720%2C600 630%2C750 810%2C750'/%3E%3Cpolygon fill='%23FFF' points='900%2C600 810%2C750 990%2C750'/%3E%3Cpolygon fill='%23222' points='900%2C600 990%2C450 810%2C450'/%3E%3Cpolygon fill='%23DDD' points='0%2C900 90%2C750 -90%2C750'/%3E%3Cpolygon fill='%23444' points='180%2C900 270%2C750 90%2C750'/%3E%3Cpolygon fill='%23FFF' points='360%2C900 450%2C750 270%2C750'/%3E%3Cpolygon fill='%23AAA' points='540%2C900 630%2C750 450%2C750'/%3E%3Cpolygon fill='%23FFF' points='720%2C900 810%2C750 630%2C750'/%3E%3Cpolygon fill='%23222' points='900%2C900 990%2C750 810%2C750'/%3E%3Cpolygon fill='%23222' points='1080%2C300 990%2C450 1170%2C450'/%3E%3Cpolygon fill='%23FFF' points='1080%2C300 1170%2C150 990%2C150'/%3E%3Cpolygon points='1080%2C600 990%2C750 1170%2C750'/%3E%3Cpolygon fill='%23666' points='1080%2C600 1170%2C450 990%2C450'/%3E%3Cpolygon fill='%23DDD' points='1080%2C900 1170%2C750 990%2C750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");

background-size: cover;
background-position: center;
		color: #fff;

		font-family: "JosefinSans-Light", Arial;
		font-size: 20px;

		cursor: url(../img/cursor/cursor.png) 2.5 2.5, auto;
	}
	@media (min-width: 480px) {
		body {
			
		}
	}
	.body-hidden {
		overflow: hidden;
	}
	a {
		cursor: url(../img/cursor/cursor_link.png) 12 12, pointer;
	}
	

	.mainTitle {
		color: #fff;
		padding: 25px 25px 5px;
		margin-bottom: 50px;

		display: flex;

		font-size: 36px;
		font-family: "JosefinSans-SemiBold", Arial;
		position: sticky;
		-webkit-position: sticky;
		z-index: 2;
		top: -15px;
	}
	.mainTitle:before {
		content: '';
		background: #33CCA0;

		width: 10px;
		height: 10px;
		margin-right: 5px;

		position: relative;
		z-index: 2;
		bottom: -17.275px;
		right: -2px;
	}
	.title {
		font-size: 24px;
		font-family: "JosefinSans-SemiBold", Arial;
	}
	.text {
		line-height: 1.5;
		position: relative;
		z-index: 5;
	}
	
	.gl-line {
		background: #33CCA0;

		width: 58%;
		height: 5px;
		margin: 25px auto;
	}
	.sized {
		width: 185px;
		margin: 12.5px auto;
	}
	
/* LINK -----------------------------------------*/

	.textLink, .link {
		color: #CDFFDB;

		font-family: "Josefin Sans";
		text-decoration: none;

		position: relative;
	}
	.link {
		font-size: 24px;
	}
	.link-anim {
		position: relative;
		z-index: 0;
	}
	.link-anim:hover {
		color: #fff;
	}
	
	.link-anim:after {
	    content: '';
	    background: #33CCA0;

	    width: 0%;
	    height: 40%;

	    position: absolute;
	    z-index: -1;
	    top: 57%;
	    left: 11px;

	    transition: all ease-out 0.3s;
	}
	.link-anim:hover::after {
	   width: 100%;
	}

/* SCROLLBAR ------------------------------------*/
	::-webkit-scrollbar {
	   	width: 10px;
	}
	::-webkit-scrollbar-track {
	   	background: #1F1F1F; 
	}
	::-webkit-scrollbar-thumb {
	   	background: #33CCA0; 
	   	transition: all 0.3s;
	}
	::-webkit-scrollbar-thumb:hover {
	   	background: #CDFFDB; 
	}

/* CTA ------------------------------------------*/
	.cta {
		background: #33CCA0;
		width: 5px;
		height: 100px;
		position: absolute;
		transform: translate(-50%, 0);
		bottom: -12px;
		visibility: visible;
		opacity: 1;
		transition: all 0.25s;
		cursor: url(../img/cursor/cursor_link.png) 12 12, pointer;

	
	}
	@media (min-width: 615px) {
		.cta {
			display: none;
		}
	}
	.cta:hover {
		background: #CDFFDB;
	}
	.cta:before {
		content: 'TOUCH';
		text-align: center;
		font-size: 18px;
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		top: -25px;

	}	
	
/* FIXED ----------------------------------------*/
	#fixed {
		position: relative;
		z-index: 666;
	}
	.decoTop, .decoBottom {
		width: 25px;
		height: 25px;
		
		display: flex;
		justify-content: space-between;

		position: fixed; 
		z-index: 666;

		cursor: url(../img/cursor/cursor_link.png) 12 12, pointer;
	}
	.decoTop {
		flex-wrap: wrap;
		
		top: 12px;
		left: 12px;
	}
	.decoBottom {
		flex-direction: row-reverse;
		flex-wrap: wrap-reverse;

		bottom: 7px;
		right: 12px;
	}
	.btt {
		color: #33CCA0;

		font-size: 42px;
		font-family: Helvetica;

		position: fixed;
		z-index: 666; 
		bottom: 6px;
		left: 12px;

		cursor: url(../img/cursor/cursor_link.png) 12 12, pointer;
	}
	.btt:after {
		content: 'TOP';
		color: #fff;
		font-family: "Josefin Sans";
		font-size: 16px;
    	
    	display: flex;
    	position: absolute;
    	z-index: -1;
    	bottom: 4px;
    	left: 0;

    	opacity: 0;

    	transition: all ease-out 0.25s;
	}
	.btt:hover:after {
		opacity: 1;
      left: 25px;
	}
	.btt-anim {
		color: #000;
		cursor: url(../img/cursor/menu_cursor_link.png) 12 12, pointer;
	}
	.square {
		background: #33CCA0;

		width: 10px;
		height: 10px;
		margin-bottom: 5px;
		
		transition: all ease-out 0.25s;
	}
	.square-anim {
		background: #000;
	}
	.miniMenu {
		position: fixed;
		display: none;
		flex-direction: column;
		top: 12px;
	transform: translate(-50%, 0);
		right: 7px;
	}
	@media (min-width: 615px) {
		.miniMenu {
			display: flex;

		}
	}
	.miniMenu .square {
		margin-bottom: 12.5px;
		cursor: url(../img/cursor/cursor_link.png) 12 12, pointer;
	}
	.miniMenu .square:after {
		
		font-family: "Josefin Sans";
		font-size: 16px;
    	
    	width: 0%;
    	height: 0px;
    	
    	position: absolute;
    	z-index: -1;
    	top: 0;
    	right: 30px !important;

    	opacity: 0;

    	transition: all ease-out 0.25s;
	}
	.miniMenu .gotoHome:after {
		content: 'ACCUEIL';
	}
	
	.miniMenu .gotoHome:hover:after {
		opacity: 1;
      right: 82px !important;
	}
	.miniMenu .gotoInfos:after {
		content: 'INFOS';
		top: 21px;
	}
	
	.miniMenu .gotoInfos:hover:after {
		opacity: 1;
      right: 62px !important;
	}
	.miniMenu .gotoProjects:after {
		content: 'PROJETS';
		top: 44px;
	}
	
	.miniMenu .gotoProjects:hover:after {
		opacity: 1;
      right: 80px !important;
	}
	.miniMenu .gotoFooter:after {
		content: 'CONTACT';
		top: 65px;
	}
	
	.miniMenu .gotoFooter:hover:after {
		opacity: 1;
      right: 88px !important;
	}

	.miniMenu .text {
		position: absolute;
		top: 102px;
		right: -18px;
		transform: rotate(90deg);
		font-size: 16px;
	}

/* MENU -----------------------------------------*/
	.menu {
		width: 25px;
		height: 19px;

		display: flex;
		flex-direction: column;
		justify-content: space-between;

		position: fixed;
		z-index: 666;
		top: 12px;
		right: 12px;

		transition: all ease-out 0.25s;

		cursor: url(../img/cursor/cursor_link.png) 12 12, pointer;
	}
	.menu:hover > .line-short {
		right: 0px;
	}
	.menu-cursor {
		cursor: url(../img/cursor/menu_cursor_link.png) 12 12, pointer;
	}
	.menu:after {
		content: 'MENU';
		font-family: "Josefin Sans";
		font-size: 16px;
    	
    	width: 0%;
    	height: 0px;
    	
    	position: absolute;
    	z-index: -1;
    	top: 0;
    	right: 35px !important;

    	opacity: 0;

    	transition: all ease-out 0.25s;
	}
	
	.menu:hover:after {
		opacity: 1;
      right: 80px !important;
	}
	@media (min-width: 480px) {
		.menu:hover:after {
			content: 'PRO';
			right: 65px !important;
		}
	}
	.line {
		background: #33CCA0;

		width: 25px;
		height: 3px;


		transition: all ease-out 0.25s;
	}
	.lineFirst-anim {
		background: #000;

		opacity: 0;
	}
	.lineCrossL {
		position: absolute;
		top: 8px;
	}
	.lineCrossL-anim {
		background: #000;

		transform: rotate(-45deg);
	}
	.lineCrossR {
		position: absolute;
		top: 8px;
	}
	.lineCrossR-anim {
		background: #000;

		transform: rotate(45deg);
	}
	.line-short {
		width: 15px;

		position: relative;
		right: -10px;
	}
	.line-short-anim {
		background: #000;

		opacity: 0;
	}
	.menuOverlay {
		background: #33CCA0;

		width: 100%;
		height: 100vh;

		display: flex;
		justify-content: center;
		align-items: center;

		position: fixed;
		z-index: 333;

		visibility: hidden;
		opacity: 0;

		transition: all ease-out 0.25s;

		cursor: url(../img/cursor/menu_cursor.png) 2.5 2.5, auto;
	}
	.menuOverlay .pro {
		display: none;
	}
	@media (min-width: 480px) {
		
		.menuOverlay .menuList {
			display: none;
		}
		.menuOverlay .pro {
			display: flex;
		}
	}
	.menuOverlay-anim {
		visibility: visible;
		opacity: 1;
	}
	.menuList {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.menuList2 {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
	}
	.menuList2 .text {
		    font-size: 36px;
		    font-family: "JosefinSans-Bold"
	}
	.menuList2 .link {
		color: #000;
		font-size: 36px;
		    font-family: "JosefinSans-Bold"
	}
	.menuList2 .text .link-anim {
		transition: all ease-out 0.3s;
		position: relative;
		z-index: 0;
		cursor: url(../img/cursor/menu_cursor_link.png) 12 12, pointer;

	}
	.menuList2 .text .link-anim:after {
	    content: '';
	    background: #fff;
	}
	.menuList2 .text .link-anim:hover::after {
	   width: 100%;
	}
	
	@media (min-width: 480px) {
		
	
	}
	.menuList-link {
		color: #000;

		margin-bottom: 25px;

		font-size: 36px;
		font-family: "JosefinSans-Bold";

		display: flex;

		position: relative;

		cursor: url(../img/cursor/menu_cursor_link.png) 12 12, pointer;
	}
	.menuList-link:after {
		content: '';
	   background: #fff;

	   width: 0%;
	   height: 40%;

	   position: absolute;
	   z-index: -1;
	   top: 57%;
	   left: 11px;

	   transition: all ease-out 0.3s;
	}
	.menuList-link:hover:after {
		width: 100%;
	}

/* HOME -----------------------------------------*/
	#home {
		width: 100%;
		height: 100vh;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		position: relative;

	}
	#home h1,h2 {

		text-align: center;
		letter-spacing: 0.12em;
		
	}
	.homeSvg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.homeSvg path{
		fill: transparent;
		stroke: #33CCA0;
		stroke-width: 4px;
		stroke-dasharray: 1000;
	  	stroke-dashoffset: 1000;
	 	animation: dash 8s infinite linear;
	}

@keyframes dash {
  to {
    stroke-dashoffset: -1000;
  }
}
#cadre {
			position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		}
		.cadrePoly, .cadreLine {
			fill: none;
			stroke: #33CCA0;
			stroke-width: 4;
			stroke-dashoffset: 800;
			stroke-dasharray: 800;
		 	animation: complete 8s infinite linear;
		}
		@keyframes complete {
		  	to {
		    	stroke-dashoffset: -800;
		  	}
		}
		.cadrePoly {
			animation-delay: 0.5s;
		}
.whatBox {
	

}
.whatBox {
	width: 75px;
	position: fixed;
	top: 12px;
	transform: translate(-50%, 0);
	right: 40px;
	animation: popup infinite 3.333s ease-in-out;
	visibility: hidden;
	opacity: 0;
}
.whatBoxText {
	font-family: "JosefinSans-Light";
	font-size: 16px;
}
.what {
	width: 75px;
}
.whatBox:before {


}
@media (min-width: 615px) {
	.whatBox {
		visibility: visible;
		opacity: 1;
	}
}
@keyframes popup {
	0%, 100% {
		transform: translate(0, 0);

	}
	50% {
		transform: translate(0, 68px);

	}
}
/* INFOS ----------------------------------------*/
	#infos {

		height: 100vh;
		padding: 0 45px;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		position: relative;
	}
	@media (min-width: 666px) {
		#infos {
			background: url(../img/gotohetic.jpg) no-repeat ;
			background-size: cover;
		}
	}
	#infos p {
		margin-bottom: 25px;
		text-align: center;
	}
	.dev {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.dev a img {
		width: 30px;
		margin: 10px;
	}
	@media (min-width: 480px) {
		.dev {
			flex-direction: row;
		}
		.dev .gl-line {
			width: 25px;
			margin: 0 25px;
		}
	}

/* PROJECTS -------------------------------------*/
	#projects {
		color: #fff;
	}
	
	.articles {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.article {
		width: 100%;
		position: relative;
		z-index: 0;
		margin: 0 27px;
	}
	.article li {
		margin-bottom: 12.5px;
	}
	
	.article-mainTitle {
		font-size: 24px;
		font-family: "JosefinSans-SemiBold";
		margin-bottom: 25px !important;
	}
	.article-title {
		font-size: 20px;
		font-family: "Josefin Sans";
		text-transform: uppercase;
	}
	.article span  {
		color: #33CCA0;
	}
	.article-link {
		color: #CDFFDB;

		font-family: "Josefin Sans";
		font-size: 20px;
		text-decoration: none;

		position: relative;
	}
	.article-fullscreen {
		background-size: 100% !important;
		height: 33vh;
		border: 1px #fff solid;
		margin-bottom: 25px;
		cursor: url(../img/cursor/cursor_link.png) 12 12, pointer;
	}
	.article-fullscreen:before {
		content:'';
		width: 99.2%;
		
		height: 33vh;
		background: rgba(0,0,0,0.75);
		position: absolute;
		top: 1;
		left: 1;
		display: flex;
		align-items: flex-end;
		padding: 0;
		justify-content: flex-start;
		opacity: 0;
		visibility: hidden;

		transition: all 0.25s;
	}
	.article-fullscreen:hover::before {
		opacity: 1;
		visibility: visible;
	}
	.article-content {
		height: 0;
		visibility: hidden;
		opacity: 0;
		display: none;
		flex-direction: column;
		transition: all 0.25s;
	}
	.article-fullscreen:after {
	    color: #33CCA0;
	    font-size: 36px;
	    font-family: "JosefinSans-SemiBold";
	    position: absolute;
	    top: 27vh;
	    left: 12.5px;
	    opacity: 0;
	    visibility: hidden;
	    transition: all 0.25s;
	}
	.article-fullscreen:hover::after {
		opacity: 1;
		visibility: visible;
	}
	#ocs {
		background: url(../img/articles/ocs.jpg) no-repeat;
	}
	#ocs:after {
		content: 'OldCarShow';
	}
	#nsp {
		background: url(../img/articles/nsp.jpg) no-repeat;
	}
	#nsp:after {
		content: 'Nespresso';
	}
	#rdc {
		background: url(../img/articles/rdc.jpg) no-repeat;
	}
	#rdc:after {
		content: 'Resto du Coeur';
	}
	#izi {
		background: url(../img/articles/izi.jpg) no-repeat;
	}
	#izi:after {
		content: 'IZIMOVIE';
	}
	#ad {
		background: url(../img/articles/ad.jpg) no-repeat;
	}
	#ad:after {
		content: 'Ancien Portfolio';

	}
	#mf {
		background: url(../img/articles/mf.jpg) no-repeat;
	}
	#mf:after {
		content: 'Multiforme';

	}
	.is-active {
		height: auto;
		visibility: visible;
		opacity: 1;
		display: flex;
	}
	@media (min-width: 615px) {
		.article {
			width: 41%;
			
			margin: 0 25px;
		}	
	}
	@media (min-width: 914px) {
		.article {
			width: 27%;
			
			margin: 0 25px;
		}	
	}

/* PRO ------------------------------------------*/
	.pro {

		height: 92vh;

		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	@media (min-width: 615px) {
		.pro {
			display: none;
		}
	}
	.pro .text {
		text-align: center;
	}

	.footer {
		height: 10vh;
		margin: 10px 25px;
		text-align: center;
		position: relative;

	}
	footer .gl-line {
		margin: 25px auto 12px;
	}
	.menuList .square {
		margin: 7.5px 0 25px;
	}
	@media (min-width: 615px) {
		.menu {
			display: none;
		}
	}
	footer .square {
		position: absolute;
	    right: 2px;
	    bottom: 12.25px;
	}
	footer .text {
		font-family: "JosefinSans-Light";
	}
	.oups {

	}
	@media (min-width: 480px) {
		.oups {
			top: -15px;
		}
		.oups:before {
			/*bottom: -16px;*/
		}
	}


/* KEYFRAMES-------------------------------------*/
	.appear {
		-webkit-animation: appear 0.666s cubic-bezier(0.445, 0.050, 0.550, 0.950) both;
		animation: appear 0.666s cubic-bezier(0.445, 0.050, 0.550, 0.950) both;
	}
	@keyframes appear {
	  	0% {
	    	-webkit-transform: scale(2);
	      transform: scale(2);
	    	-webkit-filter: blur(2px);
	      filter: blur(2px);
	    	opacity: 0;
	  	}
	  	100% {
	    	-webkit-transform: scale(1);
	      transform: scale(1);
	    	-webkit-filter: blur(0px);
	      filter: blur(0px);
	    	opacity: 1;
	  	}
	}
	@-webkit-keyframes appear {
	  	0% {
	    	-webkit-transform: scale(2);
	      transform: scale(2);
	    	-webkit-filter: blur(2px);
	      filter: blur(2px);
	    	opacity: 0;
	  	}
	  	100% {
	    	-webkit-transform: scale(1);
	      transform: scale(1);
	    	-webkit-filter: blur(0px);
	      filter: blur(0px);
	    	opacity: 1;
	  	}
	}

	.appearText {
		-webkit-animation: appearText 0.666s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
		animation: appearText 0.666s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	}
	@keyframes appearText {
	  	0% {
	    	letter-spacing: -0.5em;
	    	opacity: 0;
		}
		40% {
		   opacity: 0.6;
	  	}
	  	100% {
	    	opacity: 1;
	  	}
	}
	@-webkit-keyframes appearText {
	  	0% {
	    	letter-spacing: -0.5em;
	    	opacity: 0;
		}
		40% {
		   opacity: 0.6;
	  	}
	  	100% {
	    	opacity: 1;
	  	}
	}

	.jello {
			-webkit-animation: jello 1.5s infinite both;
			animation: jello 1.5s infinite both;
		}
	@keyframes jello {
	  	0% {
	   	-webkit-transform: scale3d(1, 1, 1);
	      transform: scale3d(1, 1, 1);
	  	}
	  	30% {
	    	-webkit-transform: scale3d(1.25, 0.75, 1);
	      transform: scale3d(1.25, 0.75, 1);
	  	}
	  	40% {
	    	-webkit-transform: scale3d(0.75, 1.25, 1);
	      transform: scale3d(0.75, 1.25, 1);
	  	}
	  	50% {
	    	-webkit-transform: scale3d(1.15, 0.85, 1);
	      transform: scale3d(1.15, 0.85, 1);
	  	}
	  	65% {
	    	-webkit-transform: scale3d(0.95, 1.05, 1);
	      transform: scale3d(0.95, 1.05, 1);
	  	}
	  	75% {
	    	-webkit-transform: scale3d(1.05, 0.95, 1);
	      transform: scale3d(1.05, 0.95, 1);
	  	}
	  	100% {
	    	-webkit-transform: scale3d(1, 1, 1);
	      transform: scale3d(1, 1, 1);
	  }
	}
	@-webkit-keyframes jello {
	  	0% {
	   	-webkit-transform: scale3d(1, 1, 1);
	      transform: scale3d(1, 1, 1);
	  	}
	  	30% {
	    	-webkit-transform: scale3d(1.25, 0.75, 1);
	      transform: scale3d(1.25, 0.75, 1);
	  	}
	  	40% {
	    	-webkit-transform: scale3d(0.75, 1.25, 1);
	      transform: scale3d(0.75, 1.25, 1);
	  	}
	  	50% {
	    	-webkit-transform: scale3d(1.15, 0.85, 1);
	      transform: scale3d(1.15, 0.85, 1);
	  	}
	  	65% {
	    	-webkit-transform: scale3d(0.95, 1.05, 1);
	      transform: scale3d(0.95, 1.05, 1);
	  	}
	  	75% {
	    	-webkit-transform: scale3d(1.05, 0.95, 1);
	      transform: scale3d(1.05, 0.95, 1);
	  	}
	  	100% {
	    	-webkit-transform: scale3d(1, 1, 1);
	      transform: scale3d(1, 1, 1);
	  	}
	}

	


