/** TIPS -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

	* color
	* background

	* whidth
	* height
	* margin
	* padding

	* font-family
	* font-size
	* text-align
	* text-transform
	* letter-spacing

	* display
	* flex-direction
	* justify-content
	* align-items

	* position
	* top bottom left right
	* z-index
	* opacity

	* transition

-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

/* GLOBAL ---------------------------------------*/
	body {
		background: #000;
		color: #fff;

		font-family: "JosefinSans-Light", Arial;
		font-size: 20px;

		cursor: url(../img/cursor/cursor.png) 2.5 2.5, auto;
	}
	@media (min-width: 480px) {
		body {
			
		}
	}
	.body-hidden {
		overflow: hidden;
	}
	a {
		cursor: url(../img/cursor/cursor_link.png) 12 12, pointer;
	}
	.mainTitle {
		color: #fff;
		background: #000;
		padding: 25px 25px 5px;
		margin-bottom: 50px;

		display: flex;

		font-size: 36px;
		font-family: "JosefinSans-SemiBold", Arial;
		position: sticky;
		-webkit-position: sticky;
		z-index: 2;
		top: -15px;
	}
	.mainTitle:before {
		content: '';
		background: #33CCA0;

		width: 10px;
		height: 10px;
		margin-right: 5px;

		position: relative;
		z-index: -1;
		bottom: -17px;
		right: -2px;
	}
	.title {
		font-size: 24px;
		font-family: "JosefinSans-SemiBold", Arial;
	}
	.text {
		line-height: 1.5;
	}
	.textLink {
		color: #CDFFDB;

		font-family: "Josefin Sans";
		text-decoration: none;

		position: relative;
	}
	.link {
		color: #CDFFDB;

		font-family: "Josefin Sans";
		font-size: 24px;
		text-decoration: none;

		position: relative;
	}
	.gl-line {
		background: #33CCA0;

		width: 58%;
		height: 5px;
		margin: 25px auto;
	}
	.sized {
		width: 185px;
		margin: 12.5px auto;
	}
	.logo {
		width: 30px;
		height: auto;

		margin: 5px;
	}
	.link-anim:hover {
		color: #fff;
	}
	
	.link-anim:after {
	    content: '';
	    background: #33CCA0;

	    width: 0%;
	    height: 40%;

	    position: absolute;
	    z-index: -2;
	    top: 57%;
	    left: 11px;

	    transition: all ease-out 0.3s;
	}
	.link-anim:hover::after {
	   width: 100%;
	}

/* SCROLLBAR ------------------------------------*/
	::-webkit-scrollbar {
	   	width: 10px;
	}
	::-webkit-scrollbar-track {
	   	background: #1F1F1F; 
	}
	::-webkit-scrollbar-thumb {
	   	background: #33CCA0; 
	   	transition: all 0.3s;
	}
	::-webkit-scrollbar-thumb:hover {
	   	background: #CDFFDB; 
	}

/* CTA ------------------------------------------*/
	.cta {
		background: #33CCA0;
		width: 5px;
		height: 100px;
		position: absolute;
		transform: translate(-50%, 0);
		bottom: -12px;
		visibility: visible;
		opacity: 1;
		transition: all 0.25s;
		cursor: url(../img/cursor/cursor_link.png) 12 12, pointer;

	
	}
	@media (min-width: 615px) {
		.cta {
			display: none;
		}
	}
	.cta:hover {
		background: #CDFFDB;
	}
	.cta:before {
		content: 'TOUCH';
		text-align: center;
		font-size: 18px;
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		top: -25px;

	}	
	
/* FIXED ----------------------------------------*/
	#fixed {
		position: relative;
		z-index: 666;
	}
	.decoTop {
		width: 25px;
		height: 25px;
		
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		position: fixed;
		z-index: 3; 
		top: 12px;
		left: 12px;

		cursor: url(../img/cursor/cursor_link.png) 12 12, pointer;
	}
	.decoBottom {
		width: 25px;
		height: 25px;

		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		flex-wrap: wrap-reverse;

		position: fixed;
		z-index: 3; 
		bottom: 7px;
		right: 12px;

		cursor: url(../img/cursor/cursor_link.png) 12 12, pointer;
	}
	.btt {
		color: #33CCA0;

		font-size: 42px;
		font-family: Helvetica;

		position: fixed;
		z-index: 3; 
		bottom: 6px;
		left: 12px;

		cursor: url(../img/cursor/cursor_link.png) 12 12, pointer;
	}
	.btt:after {
		content: 'TOP';
		color: #fff;
		font-family: "Josefin Sans";
		font-size: 16px;
    	
    	display: flex;
    	position: absolute;
    	z-index: -1;
    	bottom: 4px;
    	left: 0;

    	opacity: 0;

    	transition: all ease-out 0.25s;
	}
	.btt:hover:after {
		opacity: 1;
      left: 25px;
	}
	.btt-anim {
		color: #000;
		cursor: url(../img/cursor/menu_cursor_link.png) 12 12, pointer;
	}
	.square {
		background: #33CCA0;

		width: 10px;
		height: 10px;
		margin-bottom: 5px;

		transition: all ease-out 0.25s;
	}
	.square-anim {
		background: #000;
	}
	.miniMenu {
		position: fixed;
		display: none;
		flex-direction: column;
		z-index: -1;
		top: 50%;
	transform: translate(-50%, 0);
		right: 12px;
	}
	@media (min-width: 615px) {
		.miniMenu {
			display: flex;

		}
	}
	.miniMenu .square {
		margin-bottom: 12.5px;
		cursor: url(../img/cursor/cursor_link.png) 12 12, pointer;
	}
	.miniMenu .square:after {
		
		font-family: "Josefin Sans";
		font-size: 16px;
    	
    	width: 0%;
    	height: 0px;
    	
    	position: absolute;
    	z-index: -1;
    	top: 0;
    	right: 50px !important;

    	opacity: 0;

    	transition: all ease-out 0.25s;
	}
	.miniMenu .gotoHome:after {
		content: 'ACCUEIL';
	}
	
	.miniMenu .gotoHome:hover:after {
		opacity: 1;
      right: 87px !important;
	}
	.miniMenu .gotoInfos:after {
		content: 'INFOS';
		top: 20px;
	}
	
	.miniMenu .gotoInfos:hover:after {
		opacity: 1;
      right: 67px !important;
	}
	.miniMenu .gotoProjects:after {
		content: 'PROJETS';
		top: 42px;
	}
	
	.miniMenu .gotoProjects:hover:after {
		opacity: 1;
      right: 85px !important;
	}
	.miniMenu .text {
		position: absolute;
		bottom: 92px;
		right: -17px;
		transform: rotate(90deg);
		font-size: 16px;
	}

/* MENU -----------------------------------------*/
	.menu {
		width: 25px;
		height: 19px;

		display: flex;
		flex-direction: column;
		justify-content: space-between;

		position: fixed;
		z-index: 3;
		top: 12px;
		right: 12px;

		transition: all ease-out 0.25s;

		cursor: url(../img/cursor/cursor_link.png) 12 12, pointer;
	}
	.menu-cursor {
		cursor: url(../img/cursor/menu_cursor_link.png) 12 12, pointer;
	}
	.menu:after {
		content: 'MENU';
		font-family: "Josefin Sans";
		font-size: 16px;
    	
    	width: 0%;
    	height: 0px;
    	
    	position: absolute;
    	z-index: -1;
    	top: 0;
    	right: 35px !important;

    	opacity: 0;

    	transition: all ease-out 0.25s;
	}
	
	.menu:hover:after {
		opacity: 1;
      right: 80px !important;
	}
	@media (min-width: 480px) {
		.menu:hover:after {
			content: 'PRO';
			right: 65px !important;
		}
	}
	.line {
		background: #33CCA0;

		width: 25px;
		height: 3px;


		transition: all ease-out 0.25s;
	}
	.lineFirst-anim {
		background: #000;

		opacity: 0;
	}
	.lineCrossL {
		position: absolute;
		top: 8px;
	}
	.lineCrossL-anim {
		background: #000;

		transform: rotate(-45deg);
	}
	.lineCrossR {
		position: absolute;
		top: 8px;
	}
	.lineCrossR-anim {
		background: #000;

		transform: rotate(45deg);
	}
	.line-short {
		width: 15px;

		position: relative;
		right: -10px;
	}
	.line-short-anim {
		background: #000;

		opacity: 0;
	}
	.menuOverlay {
		background: #33CCA0;

		width: 100%;
		height: 100vh;

		display: flex;
		justify-content: center;
		align-items: center;

		position: fixed;
		z-index: 2;

		visibility: hidden;
		opacity: 0;

		transition: all ease-out 0.25s;

		cursor: url(../img/cursor/menu_cursor.png) 2.5 2.5, auto;
	}
	.menuOverlay .pro {
		display: none;
	}
	@media (min-width: 480px) {
		
		.menuOverlay .menuList {
			display: none;
		}
		.menuOverlay .pro {
			display: flex;
		}
	}
	.menuOverlay-anim {
		visibility: visible;
		opacity: 1;
	}
	.menuList {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.menuList2 {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
	}
	.menuList2 .text {
		    font-size: 36px;
		    font-family: "JosefinSans-Bold"
	}
	.menuList2 .link {
		color: #000;
		font-size: 36px;
		    font-family: "JosefinSans-Bold"
	}
	.menuList2 .link-anim {
		transition: all ease-out 0.3s;
	}
	.menuList .link-anim:after {
	    content: '';
	    background: #fff;

	    width: 0%;
	    height: 40%;

	    position: absolute;
	    z-index: -2;
	    top: 57%;
	    left: 11px;

	    transition: all ease-out 0.3s;
	}
	.menuList .link-anim:hover::after {
	   width: 100%;
	}
	
	@media (min-width: 480px) {
		
	
	}
	.menuList-link {
		color: #000;

		margin-bottom: 25px;

		font-size: 36px;
		font-family: "JosefinSans-Bold";

		display: flex;

		position: relative;

		cursor: url(../img/cursor/menu_cursor_link.png) 12 12, pointer;
	}
	.menuList-link:after {
		content: '';
	   background: #fff;

	   width: 0%;
	   height: 40%;

	   position: absolute;
	   z-index: -2;
	   top: 57%;
	   left: 11px;

	   transition: all ease-out 0.3s;
	}
	.menuList-link:hover:after {
		width: 100%;
	}

/* HOME -----------------------------------------*/
	#home {
		width: 100%;
		height: 100vh;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		position: relative;

	}
	#home h1,h2 {

		text-align: center;
		letter-spacing: 0.12em;
		
	}
	.homeSvg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.homeSvg path{
		fill: transparent;
		stroke: #33CCA0;
		stroke-width: 4px;
		stroke-dasharray: 1000;
	  	stroke-dashoffset: 1000;
	 	animation: dash 8s infinite linear;
	}

@keyframes dash {
  to {
    stroke-dashoffset: -1000;
  }
}
#cadre {
			position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		}
		.cadrePoly, .cadreLine {
			fill: none;
			stroke: #33CCA0;
			stroke-width: 4;
			stroke-dashoffset: 1000;
			stroke-dasharray: 1000;
		 	animation: complete 10s infinite linear;
		}
		@keyframes complete {
		  	to {
		    	stroke-dashoffset: -1000;
		  	}
		}
		.cadrePoly {
			animation-delay: 0.5s;
		}
.what {
	position: absolute;
	top: 46.5%;
	transform: translate(-50%, 0);
	right: 35px;
	width: 75px;
	height: auto;
	;
	visibility: hidden;
	opacity: 0;

	transition: all 0.25s;
	animation: popup infinite 3.33s;

}
@media (min-width: 615px) {
	.what {
		visibility: visible;
		opacity: 1;
	}
}
@keyframes popup {
	0%, 100% {
		transform: translate(0, 0);

	}
	50% {
		transform: translate(0, 48px);

	}
}
/* INFOS ----------------------------------------*/
	#infos {

		height: 100vh;
		padding: 0 45px;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		position: relative;
	}
	@media (min-width: 666px) {
		#infos {
			background: url(../img/gotohetic.jpg) no-repeat ;
			background-size: cover;
		}
	}
	#infos p {
		margin-bottom: 25px;
		text-align: center;
	}
	.dev {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	@media (min-width: 480px) {
		.dev {
			flex-direction: row;
		}
		.dev .gl-line {
			width: 25px;
			margin: 0 25px;
		}
	}

/* PROJECTS -------------------------------------*/
	#projects {
		color: #fff;
	}
	#projects h3 {
		background: #000;
	}
	.articles {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.article {
		width: 100%;
		position: relative;
		z-index: 0;
		margin: 0 27px;
	}
	.article li {
		margin-bottom: 12.5px;
	}
	
	.article-mainTitle {
		font-size: 24px;
		font-family: "JosefinSans-SemiBold";
		margin-bottom: 25px !important;
	}
	.article-title {
		font-size: 20px;
		font-family: "Josefin Sans";
		text-transform: uppercase;
	}
	.article span  {
		color: #33CCA0;
	}
	.article-link {
		color: #CDFFDB;

		font-family: "Josefin Sans";
		font-size: 20px;
		text-decoration: none;

		position: relative;
	}
	.article-fullscreen {
		background-size: 100% !important;
		height: 33vh;
		border: 1px #fff solid;
		margin-bottom: 25px;
		cursor: url(../img/cursor/cursor_link.png) 12 12, pointer;
	}
	.article-fullscreen:before {
		content:'';
		width: 99.2%;
		
		height: 33vh;
		background: rgba(0,0,0,0.75);
		position: absolute;
		top: 1;
		left: 1;
		display: flex;
		align-items: flex-end;
		padding: 0;
		justify-content: flex-start;
		opacity: 0;
		visibility: hidden;

		transition: all 0.25s;
	}
	.article-fullscreen:hover::before {
		opacity: 1;
		visibility: visible;
	}
	.article-content {
		height: 0;
		visibility: hidden;
		opacity: 0;
		display: none;
		flex-direction: column;
		transition: all 0.25s;
	}
	.article-fullscreen:after {
	    color: #33CCA0;
	    font-size: 36px;
	    font-family: "JosefinSans-SemiBold";
	    position: absolute;
	    top: 27vh;
	    left: 12.5px;
	    opacity: 0;
	    visibility: hidden;
	    transition: all 0.25s;
	}
	.article-fullscreen:hover::after {
		opacity: 1;
		visibility: visible;
	}
	#ocs {
		background: url(../img/articles/ocs.jpg) no-repeat;
	}
	#ocs:after {
		content: 'OldCarShow';
	}
	#nsp {
		background: url(../img/articles/nsp.jpg) no-repeat;
	}
	#nsp:after {
		content: 'Nespresso';
	}
	#rdc {
		background: url(../img/articles/rdc.jpg) no-repeat;
	}
	#rdc:after {
		content: 'Resto du Coeur';
	}
	#izi {
		background: url(../img/articles/izi.jpg) no-repeat;
	}
	#izi:after {
		content: 'IZIMOVIE';
	}
	#ad {
		background: url(../img/articles/ad.jpg) no-repeat;
	}
	#ad:after {
		content: 'Ancien Portfolio';

	}
	#mf {
		background: url(../img/articles/mf.jpg) no-repeat;
	}
	#mf:after {
		content: 'Multiforme';

	}
	.is-active {
		height: auto;
		visibility: visible;
		opacity: 1;
		display: flex;
	}
	@media (min-width: 615px) {
		.article {
			width: 41%;
			
			margin: 0 25px;
		}	
	}
	@media (min-width: 914px) {
		.article {
			width: 27%;
			
			margin: 0 25px;
		}	
	}

/* PRO ------------------------------------------*/
	.pro {

		height: 90vh;

		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	@media (min-width: 615px) {
		.pro {
			display: none;
		}
	}
	.pro .text {
		text-align: center;
	}

	.footer {
		margin: 35px 25px;
		text-align: center;
		position: relative;

	}
	footer .gl-line {
		margin: 12px auto;
	}
	.menuList .square {
		margin: 7.5px 0 25px;
	}
	footer .square {
		position: absolute;
	    right: 2px;
	    bottom: -13px;
	}
	.oups {

	}
	@media (min-width: 480px) {
		.oups {
			top: -15px;
		}
		.oups:before {
			/*bottom: -16px;*/
		}
	}

/* LOADER ---------------------------------------*/
	.loader {
		background: #000;

		width: 100%;
		height: 100vh;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		position: fixed;
		z-index: 999;
		overflow: hidden;
		visibility: visible;
		opacity: 1;
		
		transition: all 0.25s;
	}
	circle, line {
		fill: none;
		stroke: #33CCA0;
		stroke-width: 10;	
		stroke-dashoffset: 1000;
		stroke-dasharray: 1000;
		animation: dash 2s infinite linear;
	}
	@keyframes dash {
	  	to {
	    	stroke-dashoffset: -1000;
	  	}
	}

/* KEYFRAMES-------------------------------------*/
	.appear {
		-webkit-animation: appear 0.666s cubic-bezier(0.445, 0.050, 0.550, 0.950) both;
		animation: appear 0.666s cubic-bezier(0.445, 0.050, 0.550, 0.950) both;
	}
	@keyframes appear {
	  	0% {
	    	-webkit-transform: scale(2);
	      transform: scale(2);
	    	-webkit-filter: blur(2px);
	      filter: blur(2px);
	    	opacity: 0;
	  	}
	  	100% {
	    	-webkit-transform: scale(1);
	      transform: scale(1);
	    	-webkit-filter: blur(0px);
	      filter: blur(0px);
	    	opacity: 1;
	  	}
	}
	@-webkit-keyframes appear {
	  	0% {
	    	-webkit-transform: scale(2);
	      transform: scale(2);
	    	-webkit-filter: blur(2px);
	      filter: blur(2px);
	    	opacity: 0;
	  	}
	  	100% {
	    	-webkit-transform: scale(1);
	      transform: scale(1);
	    	-webkit-filter: blur(0px);
	      filter: blur(0px);
	    	opacity: 1;
	  	}
	}

	.appearText {
		-webkit-animation: appearText 0.666s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
		animation: appearText 0.666s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	}
	@keyframes appearText {
	  	0% {
	    	letter-spacing: -0.5em;
	    	opacity: 0;
		}
		40% {
		   opacity: 0.6;
	  	}
	  	100% {
	    	opacity: 1;
	  	}
	}
	@-webkit-keyframes appearText {
	  	0% {
	    	letter-spacing: -0.5em;
	    	opacity: 0;
		}
		40% {
		   opacity: 0.6;
	  	}
	  	100% {
	    	opacity: 1;
	  	}
	}

	.jello {
			-webkit-animation: jello 1.5s infinite both;
			animation: jello 1.5s infinite both;
		}
	@keyframes jello {
	  	0% {
	   	-webkit-transform: scale3d(1, 1, 1);
	      transform: scale3d(1, 1, 1);
	  	}
	  	30% {
	    	-webkit-transform: scale3d(1.25, 0.75, 1);
	      transform: scale3d(1.25, 0.75, 1);
	  	}
	  	40% {
	    	-webkit-transform: scale3d(0.75, 1.25, 1);
	      transform: scale3d(0.75, 1.25, 1);
	  	}
	  	50% {
	    	-webkit-transform: scale3d(1.15, 0.85, 1);
	      transform: scale3d(1.15, 0.85, 1);
	  	}
	  	65% {
	    	-webkit-transform: scale3d(0.95, 1.05, 1);
	      transform: scale3d(0.95, 1.05, 1);
	  	}
	  	75% {
	    	-webkit-transform: scale3d(1.05, 0.95, 1);
	      transform: scale3d(1.05, 0.95, 1);
	  	}
	  	100% {
	    	-webkit-transform: scale3d(1, 1, 1);
	      transform: scale3d(1, 1, 1);
	  }
	}
	@-webkit-keyframes jello {
	  	0% {
	   	-webkit-transform: scale3d(1, 1, 1);
	      transform: scale3d(1, 1, 1);
	  	}
	  	30% {
	    	-webkit-transform: scale3d(1.25, 0.75, 1);
	      transform: scale3d(1.25, 0.75, 1);
	  	}
	  	40% {
	    	-webkit-transform: scale3d(0.75, 1.25, 1);
	      transform: scale3d(0.75, 1.25, 1);
	  	}
	  	50% {
	    	-webkit-transform: scale3d(1.15, 0.85, 1);
	      transform: scale3d(1.15, 0.85, 1);
	  	}
	  	65% {
	    	-webkit-transform: scale3d(0.95, 1.05, 1);
	      transform: scale3d(0.95, 1.05, 1);
	  	}
	  	75% {
	    	-webkit-transform: scale3d(1.05, 0.95, 1);
	      transform: scale3d(1.05, 0.95, 1);
	  	}
	  	100% {
	    	-webkit-transform: scale3d(1, 1, 1);
	      transform: scale3d(1, 1, 1);
	  	}
	}


	


